* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


body {
    font-family:cursive;
    background-color: rgb(77, 37, 99); 
    padding: 15px;
    line-height: 1.5;
}


.container {
    max-width: 414px;
    width: 100%;
    margin: 0 auto;
    background: rgb(247, 255, 215);
    border-radius: 50px;
    padding: 25px;
}


header {
    text-align: center;
    margin-bottom: 15px;
    padding-bottom: 20px;
}


h1 {
    font-size: 25px;
    margin-bottom: 5px;
}


.subtitle {
    font-size: 18px;
    color: #000000;
}


.photo-item {
    margin-bottom: 15px;
    border-radius: 30px;
    overflow: hidden;
}

.photo-item img {
    width: 100%;
    height: auto; 
    display: block;
    border-radius: 30px;
}


footer {
    text-align: center;
    padding-top: 15px;
    font-size: 10px;
    color: #424242;
}